@import url("./colors.css");
*{
  color: @foreground;
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono NerdFont;
}

/* MUSIC */
@import url("./music.css");
/* WEATHER */
@import url("./weather.css");
