.weather{
  background: alpha(@background, 1.0);

  border: 2px solid @foreground;

  padding: 0;
  margin: 0;
}

.date {
  font-size: 1.5rem;
  font-weight: bold;

  border-bottom: none;

  margin-top: 0.5rem;
}

.icon {     
  font-size: 7rem;

  margin-top: -4rem;
  margin-left: -2rem;
}

.info1 {
  font-size: 0.9rem;
  font-weight: bold;

  margin-top: -6rem;
}

.info2 {
  font-size: 0.9rem;
  font-weight: bold;

  margin-top: -13.5rem;
  margin-left: -1.6rem;
}

.current-container {
  margin-bottom: -10rem;
}

.time-box {
  margin: 0;
  padding: 0;
}

.hexa-container {
  font-size: 0.65rem;
  font-weight: bold;

  margin-top: 1rem;
}

.box-date {
  font-size: 0.8rem;
}
.box-icon {
  font-size: 1rem;
  margin-top: -0.2rem;
  margin-left: -0.35rem;
}
.box-temp {
  margin-top: -0.5rem;
}
.box-wind {
  margin-top: -1.25rem;
}
.box-prec {
  margin-top: -2rem;
}
