@define-color bg #2c2432;
@define-color bg-highlight #3c3442;
@define-color fg #fae6cb;
@define-color accent #3c6e50;

window.chromium,
window.chromium *{
  background-color: @bg;
  background-image: none;
  
  color: @fg;

  border-color: @fg;
  outline: @fg;

  text-shadow: none;
  box-shadow: none;

  -gtk-icon-shadow: none;
}
