@import url("colors-waybar.css");

* { 
	font-family: JetBrains Mono Nerd Font;
  font-size: 16px;
}
window#waybar{
	background: transparent;
	color: @foreground;
}



/* Left */
#workspaces {
	background: transparent;
	
	min-width: 11.75rem;

	border-radius: 12px;
	border: none;
	
  margin-top: 0.8rem;
	margin-right: 2rem;
}
#workspaces button {
	color: @foreground;

	padding: 0 16px 0 0;

	transition: ease-in-out color 100ms, ease-in-out font-size 100ms;
}
#workspaces button:hover{
	background: none;
	text-shadow: none;
	box-shadow: none;
	border: none;
	outline: none;
}
#workspaces button.active{
	color: @highlights;
}

.media{
	background: transparent;

  font-size: 0.9rem;

	min-width: 35rem;

	border: none;
	
	padding-left: 10px;
	padding-right: 10px;

  margin-top: 0.8rem;
}

.weather {
	background: transparent;

	min-width: 14rem;

	border: none;
	
  margin-top: 0.8rem;
	margin-right: 2rem;
}


/* Right */
#clock {
  color: @foreground ;

  font-size: 1.2em;
  font-weight: 700;

  margin-top: 0.8rem;
  margin-left: 2rem;
}

#network {
	background: transparent;

  min-width: 10.5rem;

	border: none;

  margin-top: 0.8rem;
  margin-left: 1rem;

	padding: 0 10px;
}
#pulseaudio {
	background: transparent;

	min-width: 4.5rem;

	border: none;

  margin-top: 0.8rem;
  margin-left: 1rem;

	padding: 0 10px;
}
#cpu {
	background: transparent;

	min-width: 4.5rem;

	border: none;

  margin-top: 0.8rem;
  margin-left: 1rem;

	padding: 0 10px;
}
#memory {
	background: transparent;

	min-width: 4.5rem;

	border: none;
	
  margin-top: 0.8rem;
  margin-left: 1rem;

	padding: 0 10px;
}
#battery {
	background: transparent;

	min-width: 4.5rem;

	border: none;
	
  margin-top: 0.8rem;
  margin-left: 1rem;

	padding: 0 10px;
}










