@import url("./colors.css");
@font-face {
    font-family: Gohu;
    src: url("./fonts/GohuFont14NerdFontMono-Regular.ttf");
}


* {
    box-sizing: border-box;
    
    font-family: Gohu;
    font-size: 18px;
    color: var(--foreground);

    user-select: none;
}
body {
    padding: 0;
    margin: 0;

    width: auto;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow:hidden;
    overflow-x: scroll;
    
    background: var(--background);
}
main {
    margin: 0rem 10rem;
    padding: 0.5rem;

    width: calc(100vw - 20rem);
    height: calc(100vh - 6rem);

    display: flex;
    flex-direction: column; 

    align-items: center;
}
.image {
    position:absolute;

    transition: transform 5s ease-in-out;
}
#welcome-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;

    margin-bottom: 4rem;
    
    padding:0;
}
#searchbox-container {
    width: 30rem;
    height: 2.5rem;

    padding: 0;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    border: var(--foreground) solid 1px;

    background: rgb(from var(--background) r g b / 35%);

    transition: 200ms border ease-in-out;
}
#searchbox-container:focus-within,
#searchbox-container:hover{
    border: var(--color3) solid 1px;

    button {
        border-right: var(--color3) solid 1px;
    }
}
#searchbox-button {
    width: 2rem;
    height: 100%;

    flex-shrink: 0;

    background: none;

    border: none;
    border-right: var(--foreground) solid 1px;

    padding:0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 150ms border ease-in-out;
}
#searchbox-button:hover,
#searchbox-button:focus {
    outline: none;
    cursor: pointer;
    
    svg path{
        stroke: var(--foreground);
    }
}
#searchbox-button svg{
    width: 1.25rem;
    height: 1.25rem;

    fill: none;

    path {
        stroke: var(--cursor);
        transition: 100ms ease-in-out stroke;
    }
}
#searchbox-form {
    display: flex;
    flex: 1;

    height: 100%;

    overflow: hidden;
}
#searchbox-input{
    width: 100%;
    height: 100%;

    flex: 1;

    padding: 0 0.5rem;

    font-size: 14px;

    background: none;

    border: none;
    z-index: 100;
}
#searchbox-input:focus{
    outline: none;
}

#pinned-container{
    width: 100%;
    height: 100%;

    margin-top: 1.5rem;
    padding:0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 1rem;
}
.pinned-section {
    display: flex;
    flex-direction: column;
    
    justify-content: baseline;
    align-items: center;

    background: #222222;

    width: 12rem;
    min-width: 12rem;

    border: var(--foreground) solid 1px;

    transition: 150ms ease-in-out border;
}
.pinned-section:hover,
.pinned-section:focus-within {
    border: var(--color3) solid 1px;
}
.pinned-section h1 i  {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}
.pinned-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 0.75rem;
}
.pinned-links a {
    text-align: center;
    text-decoration: none;

    font-size: 20px;

    transition: 50ms ease-in-out transform, 50ms ease-in-out color;
}
.pinned-links a:hover,
.pinned-links a:focus {
    outline: none;

    transform: scale(1.05);
    color: var(--color3);
}
